<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="1" parallel="classes" name="Test">

		<classes>

            <class name="test.LoginTest" />
			<class name="test.ElectPayment" />
			<class name="test.WorkFlowTypesTest" />
			<class name="test.EditUserTest" />
			<class name="test.PasswordTest" />
			<class name="test.EditGroupTest"/>
			<class name="test.RatePlanPageTest"/>
			<class name="test.CreateAdminAccountTest"/>
			<class name="test.LoginCreatedAccountTest"/>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
